@import url(".config/colors/catppuccin-mocha.css");

window {
    margin: 0px;
    border: 2px solid @mauve;
    border-radius: 8px;
    background-color: alpha(@base, 0.85);
}

#input {
    margin: 8px;
    padding: 8px;

    border: none;
    border-radius: 10px;

    background-color: alpha(@lavender, 0.25);
    color: @text;
}

#inner-box {
    margin: 6px;
    background-color: transparent;
}

#outer-box {
    margin: 0px;
    background-color: transparent;
}

#scroll {
    background-color: transparent;
}

#entry {
    padding: 6px;
    border-radius: 8px;
    background-color: transparent;
}

#entry:selected {
    background-color: alpha(@lavender, 0.65);
}

#text {
    color: @teal;
}

#text:selected {
    color: @base;
}

